.env.local
node_modules/*
build/*
*/build/*
*/node_modules/*
db/*
*.log
dump/*
.idea/*
pages.txt
AmazonKeypair.pem
__pycache__/*
**/__pycache__/*
index/*
dist/*
**/.next/*
donations.json
next-env.d.ts
tsconfig.tsbuildinfo
